/* ==========================================================================
   States utilities
   ========================================================================== */

/**
 * Variables
 *
 * It is recommended to override these.
 *
 * 1. Utility namespace.
 */

$bits-utils-ns: 'bits-' !default; /* 1 */

/**
 * Global states.
 * JavaScript may add/remove/toggle these classes.
 * All other states are component-scoped and use the `is-` prefix.
 */

/**
 * Completely remove from the flow and screen readers.
 */

.#{$bits-utils-ns}u-isHidden {
  display: none !important;
  visibility: hidden !important;
}

/**
 * Completely remove from the flow but leave available to screen readers.
 */

.#{$bits-utils-ns}u-isHiddenVisually {
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
}

/**
 * Control visibility without affecting flow.
 */

.#{$bits-utils-ns}u-isVisible {
  visibility: visible !important;
}

.#{$bits-utils-ns}u-isInvisible {
  visibility: hidden !important;
}

/**
 * Indicate that interaction will result in an (in)action.
 */

.#{$bits-utils-ns}u-isActionable {
  cursor: pointer;
}

.#{$bits-utils-ns}u-isDraggable {
  cursor: move;
}

.#{$bits-utils-ns}u-isDisabled {
  cursor: default;
}