/* ==========================================================================
   States utilities
   ========================================================================== */

/**
 * Variables
 *
 * It is recommended to override these.
 *
 * 1. Utility namespace.
 */

$bits-utils-ns: 'bits-' !default; /* 1 */

/* -------------------------------------------------------------------------- */

/**
 * Hidden
 *
 * Completely remove from the flow and screen readers.
 */

.#{$bits-utils-ns}u-isHidden {
  display: none !important;
  visibility: hidden !important;
}

/**
 * Visually hidden
 *
 * Completely remove from the flow but leave available to screen readers.
 */

.#{$bits-utils-ns}u-isHiddenVisually {
  position: absolute !important;
  overflow: hidden !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
}

/**
 * Visible
 *
 * Control visibility without affecting flow.
 */

.#{$bits-utils-ns}u-isVisible {
  visibility: visible !important;
}

/**
 * Invisible
 *
 * Control visibility without affecting flow.
 */

.#{$bits-utils-ns}u-isInvisible {
  visibility: hidden !important;
}

/* -------------------------------------------------------------------------- */

/**
 * Actionable
 *
 * Indicate that the element is interactive.
 */

.#{$bits-utils-ns}u-isActionable {
  cursor: pointer !important;
}

/**
 * Draggable
 *
 * Indicate that the element is draggable.
 */

.#{$bits-utils-ns}u-isDraggable {
  cursor: move !important;
}

/**
 * Disabled
 *
 * Indicate that the element is not interactive.
 */

.#{$bits-utils-ns}u-isDisabled {
  cursor: default !important;
}