/* ==========================================================================
   States utilities
   ========================================================================== */

/* Variables
   ========================================================================== */

/**
 * Bits.sass utilities namespace
 */

$bits-utils-ns: 'bits-' !default;

/* Visibility
   ========================================================================== */

/**
 * Completely remove from the flow and screen readers.
 */

.#{$bits-utils-ns}u-isHidden {
  display: none !important;
  visibility: hidden !important;
}

/**
 * Completely remove from the flow but leave available to screen readers.
 */

.#{$bits-utils-ns}u-isHiddenVisually {
  clip: rect(1px, 1px, 1px, 1px) !important;
  overflow: hidden !important;
  position: absolute !important;
  padding: 0 !important;
  width: 1px !important;
  height: 1px !important;

  border: 0 !important;
}

/**
 * Control visibility without affecting flow.
 */

.#{$bits-utils-ns}u-isVisible {
  visibility: visible !important;
}

.#{$bits-utils-ns}u-isInvisible {
  visibility: hidden !important;
}

/* Interaction
   ========================================================================== */

/**
 * Indicate that the element is interactive.
 */

.#{$bits-utils-ns}u-isActionable {
  cursor: pointer !important;
}

/**
 * Indicate that the element is draggable.
 */

.#{$bits-utils-ns}u-isDraggable {
  cursor: move !important;
}

/**
 * Indicate that the element is not interactive.
 */

.#{$bits-utils-ns}u-isDisabled {
  cursor: default !important;
}